<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.woosin.woosin.admin.mapper.AdminMapper">
	<select id="selectFranchiseePic" parameterType="int" resultType="com.woosin.woosin.admin.vo.FranchiseePic">
		SELECT
			pic_no as picNo,
			franchisee_no as franchiseeNo,
			file_name as fileName,
			extension as extension,
			origin_name as originName
		FROM franchisee_pic
		WHERE franchisee_no = #{franchiseeNo}
	</select>
	
	<select id="selelctFranchiseeSpec" parameterType="int" resultType="com.woosin.woosin.admin.vo.FranchiseeSpec">
	   SELECT 
	      franchisee_no as franchiseeNo,
	      pic_content as picContent
	   FROM franchisee_spec
	   WHERE franchisee_no = #{franchiseeNo}
	</select>

	<select id="selectFranchiseeList" resultType="com.woosin.woosin.admin.vo.Franchisee" parameterType="int">
		SELECT 
			franchisee_no as franchiseeNo,
			franchisee_name as franchiseeName,
			franchisee_date	as franchiseeDate,
			franchisee_title as franchiseeTitle
		FROM franchisee
		WHERE franchisee_no = #{franchiseeNo}
	</select>

	<!-- 가맹점 pc사양 입력 -->
	<insert id="insertFranchiseeSpec" parameterType="com.woosin.woosin.admin.vo.FranchiseeSpec">
	   INSERT INTO franchisee_spec(
	   	  franchisee_no,
	      pic_content
	   ) VALUES (
	   	  #{franchiseeNo},
	      #{picContent}
	   )
	</insert>
	
	<!-- 가맹점 사진 입력 -->
	<insert id="insertFranchiseePic" parameterType="com.woosin.woosin.admin.vo.FranchiseePic">
	   INSERT INTO franchisee_pic (
	   	  franchisee_no,
	      file_name,
	      extension,
	      content_type,
	      size,
	      origin_name
	   ) VALUES(
	      #{franchiseeNo},
	      #{fileName},
	      #{extension},
	      #{contentType},
	      #{size},
	      #{originName}
	   ) 
	</insert>
	<!-- 페이징 용도 -->
	<select id="selectCummunityCount" resultType="int" parameterType="string">
		SELECT COUNT(*)
		FROM community
	</select>
	
	<!-- 물류센터 리스트 출력 -->
	<select id="selectCummunityList"
	      resultType="com.woosin.woosin.customer.vo.Community"
	      parameterType="com.woosin.woosin.customer.vo.CoperrationWoosinPage2">
	      
	   SELECT 
			community_no as communityNo,
			community_name as name,
			Email,
			dept,
			message,
			community_date as communityDate
	   FROM community
	   LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!--문의 리스트 삭제 -->
	<delete id="removeCummnity2" parameterType="int">
      DELETE
		FROM community2
		WHERE community_no = #{communityNo}
    </delete>
    	
	<!--문의 리스트 삭제 -->
	<delete id="removeCummnity" parameterType="int">
      DELETE
		FROM community
		WHERE community_no = #{communityNo}
    </delete>
    	
	<!--연혁 리스트 삭제 -->
	<delete id="removeCorperration3" parameterType="int">
      DELETE
		FROM timeline
		WHERE timeline_no = #{timelineNo}
    </delete>
    
	<!--공장 리스트 삭제 -->
	<delete id="removeCorperration2" parameterType="int">
      DELETE
		FROM corperration2
		WHERE corperration_no = #{corperrationNo}
    </delete>

	<!--민간공사 리스트 삭제 -->
	<delete id="removeCorperration" parameterType="int">
      DELETE
		FROM corperration
		WHERE corperration_no = #{corperrationNo}
    </delete>
    
	<!-- 게시글 등록 -->
	<insert id="insertTitle" parameterType="com.woosin.woosin.admin.vo.Franchisee">
		INSERT INTO franchisee(
		franchisee_name,
		franchisee_title,
		franchisee_date
		) VALUES (
		"관리자",
		#{franchiseeTitle},
		#{franchiseeDate}
		)
	</insert>
	    
	<!-- 공지사항 등록 -->
	<insert id="insertCommunity2" parameterType="com.woosin.woosin.customer.vo.Community2">
		INSERT INTO community2(
		community_name,
		community_title,
		community_content,
		community_date
		) VALUES (
		"관리자",
		#{communityTitle},
		#{communityContent},
		NOW()
		)
	</insert>
	
	<!-- 연혁/타임라인 등록 -->
	<insert id="insertTimeline" parameterType="com.woosin.woosin.customer.vo.Timeline">
		INSERT INTO timeline(
		timeline_date,
		timeline_content
		) VALUES (
		#{timelineDate},
		#{timelineContent}
		)
	</insert>

	<!-- 공장/물류센터 등록 -->
	<insert id="insertCoperrationWoosin2" parameterType="com.woosin.woosin.customer.vo.CoperrationWoosin2">
		INSERT INTO corperration2(
			corperration_no,
			corperration_place,
			corperration_name,
			corperration_date,
			corperration_price
		) VALUES (
			#{corperrationNo},
			#{corperrationPlace},
			#{corperrationName},
			#{corperrationDate},
			#{corperrationPrice}
		)
	</insert>

	<!-- 민강공사 등록 -->
	<insert id="insertCoperrationWoosin" parameterType="com.woosin.woosin.customer.vo.CoperrationWoosin">
		INSERT INTO corperration(
			corperration_no,
			corperration_place,
			corperration_name,
			corperration_date,
			corperration_price
		) VALUES (
			#{corperrationNo},
			#{corperrationPlace},
			#{corperrationName},
			#{corperrationDate},
			#{corperrationPrice}
		)
	</insert>
	
	<!-- 페이징 용도 -->
	<select id="selectTitleCount" resultType="int" parameterType="string">
		SELECT COUNT(*)
		FROM franchisee
	</select>

	
	<!-- 게시글 리스트 -->
	<select id="selectTitle"
	      resultType="com.woosin.woosin.admin.vo.Franchisee"
	      parameterType="com.woosin.woosin.customer.vo.CoperrationWoosinPage2">     
	   SELECT 
	   		franchisee_no as franchiseeNo,
			franchisee_name as franchiseeName,
			franchisee_title as franchiseeTitle,
			franchisee_date as franchiseeDate
	   FROM franchisee
	   LIMIT #{beginRow}, #{rowPerPage}
	</select>
		
	<!-- 공지사항 리스트 -->
	<select id="selectCommunity2List"
	      resultType="com.woosin.woosin.customer.vo.Community2">     
	   SELECT 
			community_no as communityNo,
			community_name as communityName,
			community_title as communityTitle,
			community_content as communityContent,
			community_date as communityDate
	   FROM community2
	   
	   ORDER BY communityNo DESC
	</select>
		
	<!-- 연혁/타임라인 리스트 -->
	<select id="selectTimelineList"
	      resultType="com.woosin.woosin.customer.vo.Timeline">    
	   SELECT 
		timeline_no as timelineNo,
		timeline_date as timelineDate,
		timeline_content as timelineContent
	   FROM timeline
	   ORDER BY timeline_date DESC
	</select>

	<!-- 페이징 용도 -->
	<select id="selectCoperrationWoosinPageCount2" resultType="int" parameterType="string">
		SELECT COUNT(*)
		FROM corperration2
	</select>
	
	<!-- 물류센터 리스트 출력 -->
	<select id="selectCoperrationWoosinPageList2"
	      resultType="com.woosin.woosin.customer.vo.CoperrationWoosin2"
	      parameterType="com.woosin.woosin.customer.vo.CoperrationWoosinPage2">
	   SELECT 
		corperration_no as corperrationNo,
		corperration_place as corperrationPlace,
		corperration_name as corperrationName,
		corperration_date as corperrationDate,
		corperration_price as corperrationPrice	  
	   FROM corperration2
	   LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 페이징 용도 -->	
	<select id="selectCoperrationWoosinPageCount" resultType="int" parameterType="string">
		SELECT COUNT(*)
		FROM corperration
	</select>
   
	<!-- 민간공사 리스트 출력 -->
	<select id="selectCoperrationWoosinPageList"
	      resultType="com.woosin.woosin.customer.vo.CoperrationWoosin"
	      parameterType="com.woosin.woosin.customer.vo.CoperrationWoosinPage">
	   SELECT 
		corperration_no as corperrationNo,
		corperration_place as corperrationPlace,
		corperration_name as corperrationName,
		corperration_date as corperrationDate,
		corperration_price as corperrationPrice	  
	   FROM corperration
	   LIMIT #{beginRow}, #{rowPerPage}
	</select>
</mapper>