
<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
<head>
	<title>woosin</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
 <style>
    p,h3,li,a,label{
      font-family: "Nanum Gothic", sans-serif;
      font-size: 23px;
    }
    p{
    color: black;
    font: bold;
    }
    
    	::-webkit-scrollbar{width: 16px;}
		::-webkit-scrollbar-track {background-color:#ABABAB;}
		::-webkit-scrollbar-thumb {background-color:#191919;border-radius: 10px;}
		::-webkit-scrollbar-thumb:hover {background: #555;}
		::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
		width:16px;height:16px;background:#ABABAB;} 
</style>
    <div class="scrollbar" id="style-2">
      <div class="force-overflow"></div>
    </div>
	<body>
			
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/index">우신종합건설</a></div>
				<a href="#menu" class="toggle">MENU<span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index">Home</a></li>
					<li><a href="woosinIntroduce">회사소개</a></li>
					<li><a href="woosinCompuny">주요사업 내용</a></li>
					<li><a href="coperrationWoosin">주요실적</a></li>
					<li><a href="elements.html">공사이미지</a></li>
					<li><a href="registrationWoosin">인증/보유</a></li>
					<li><a href="Community">커뮤니티</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner" data-video="images/banner" >
				<div class="inner">
					<h1>Woosin Comprehensive Construction</h1>
					<p>창의적인 기술로 미래를 혁신하는 기업 우신건설<br/></p>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="image fit">
								<img src="images/608.png" height="380px" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
								<h3> 2020-01-03 카피라이트 변경, 연혁 타임라인 데이터베이스기반 기능 구현, css변경, 서버 카카오맵 키값추가</h3>
								<h3> 2020-01-04 배경변경 adminIndex추가 연혁/타임라인 리스트 출력 구현, 공장,연혁,민간 추가기능 구현 ,전체적 css 변경</h3>
								<h3> 2020-01-045 메인 카테고리 추가 후 테이블변경 커뮤니티 기능활성화 어드민 구현확인</h3>
								<H3>
								사진 메인베너 동영상 변경시 이미지 파일첨부 후 카톡 kuooe@naver.com</H3>
								<h3>
								https://pixabay.com/images/ [사진] <br>
								https://pixabay.com/videos/search/%EA%B1%B4%EB%AC%BC/ [메인 베너 영상]
								</H3>
								
									<h2>대표 서비스</h2>
									<p>Main Service</p>
								</header>
								<hr/>
								
								<!--  폰트변경 예정 진하게 -->
								<p align="center">[폰트변경 예정 진하게] 혁신이상의 기술을 보유한 우신건설 홈페이지를 찾아주신 고객여러분 진심으로 환영합니다. </p>
								<p align="center">믿음과 신뢰성을 가지고 아름다운 건물을 짓겠다는 신념을 가지고 전 직원이 한마음으로  공사품질관리,</p>
								<p align="center">원가절감,부실방지로 절감된 비용을 고객에게 돌려주는 것을 원칙으로 하는 회사입니다.</p>
								
								
							
								</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h3>1:1 문의하기</h3>
							</header>
							<p>Inquiry</p>
							<img src="images/1002.png" alt="" style="filter:invert()" width="230px" height="170px" />
							<ul class="actions">
								<li><a href="/Community" class="button alt">Inquiry</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>연혁/타임라인</h3>
							</header>
							<p>Time Line</p>
							<img src="images/1001.png" alt="" style="filter:invert()"  width="230px" height="170px" />
							<ul class="actions">
								<li><a href="/woosinIntroduce4" class="button alt">Time Line</a></li>
							</ul>
					
						</div>
						<div>
							<header>
								<h3>관급/민간 실적</h3>
							</header>
							<p>Performance</p>
							<img src="images/1003.png" alt="" style="filter:invert()"  width="230px" height="170px" />
							<ul class="actions">
								<li><a href="/coperrationWoosin" class="button alt">Performance</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Three 시공실적 리스트 페이징 기능 추가예정 -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/pic02.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Lorem ipsum dolor</h2>
										<p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
									</header>
									<hr />
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/pic03.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Vestibulum sit amet</h2>
										<p>mattis sapien pretium tellus venenatis</p>
									</header>
									<hr />
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

			<!-- Four -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h3>업무흐름표</h3>
							</header>
							<p>Business chart</p>
							<img src="images/203.png" alt="" style="filter:invert()" width="230px" height="180px" />
							<ul class="actions">
								<li><a href="/woosinIntroduce2" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>등록증</h3>
							</header>
							<p>Registration</p>
							<img src="images/201.png" alt="" style="filter:invert()"  width="230px" height="180px" />
							<ul class="actions">
								<li><a href="/registrationWoosin" class="button alt">Learn More</a></li>
							</ul>
					
						</div>
						<div>
							<header>
								<h3>오시는길</h3>
							</header>
							<p>way to come</p>
							<img src="images/204.png" alt="" style="filter:invert()"  width="230px" height="180px" />
							<ul class="actions">
								<li><a href="/woosinIntroduce3" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">문의하기</h2>
								<hr />
								<form action="/addCommunity" method="post">
									<div class="field half first">
										<label for="name">닉네임</label>
										<input name="name" id="name" type="text" placeholder="Name">
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input name="email" id="email" type="email" placeholder="Email">
									</div>
									<div class="field">
										<label for="dept">제목</label>
										<input name="dept" id="dept" type="text" placeholder="Title">
									</div>
									<div class="field">
										<label for="message">내용</label>
										<textarea name="message" id="message" rows="6" placeholder="답변은 빠른시일 안에 메일로 송신됩니다."></textarea>
									</div>
									
									<ul class="actions align-center">
										<li><input value="확인" class="button special" type="submit"></li>
									</ul>
								</form>
							</div>
						</div>
					</section>	
				</div>
			</footer>

			
			<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<p style="font-size:17px">대표 : 유광열 | 사업자번호 : 246-81-00380<br>
						 주소 : 인천광역시 계양구 계양대로 138 4층(작전동)<br>
						Tel : 032) 549-2207/2208 | Fax : 032) 549-2209 	</p>						
						<div class="copyright">
						<p  style="font-size:17px">Copyright &copy; woosin<br>
						Web Agency: kuoo</p>
						</div>
					</header>
				</div>
			</section>
		<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
			

	</body>
</html>