
<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
<head>
	<title>woosin</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
 <style>
    p,h3,li,a{
      font-family: "Nanum Gothic", sans-serif;
      font-size: 23px;
    }

</style>
	<body>
			
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/index">우신종합건설</a></div>
				<a href="#menu" class="toggle">MENU<span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index">Home</a></li>
					<li><a href="woosinIntroduce">회사소개</a></li>
					<li><a href="registrationWoosin">인증/보유</a></li>
					<li><a href="coperrationWoosin">주요사업내용/실적</a></li>
					<li><a href="elements.html">주요실적</a></li>
					<li><a href="elements.html">커뮤니티</a></li>
					
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner" data-video="images/banner" >
				<div class="inner">
					<h1>Woosin Comprehensive Construction</h1>
					<p>창의적인 기술로 미래를 혁신하는 기업 우신건설<br/></p>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="image fit">
								<img src="images/608.jpg" height="380px" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
								<h3> 2020-01-03 카피라이트 변경, 연혁 타임라인 데이터베이스기반 기능 구현, css변경, 서버 카카오맵 키값추가</h3>
									<h2>대표 서비스</h2>
									<p>Main Service</p>
								</header>
								<hr/>
								
								<!--  폰트변경 예정 진하게 -->
								<p align="center">[폰트변경 예정 진하게] 혁신이상의 기술을 보유한 우신건설 홈페이지를 찾아주신 고객여러분 진심으로 환영합니다. </p>
								<p align="center">믿음과 신뢰성을 가지고 아름다운 건물을 짓겠다는 신념을 가지고 전 직원이 한마음으로  공사품질관리,</p>
								<p align="center">원가절감,부실방지로 절감된 비용을 고객에게 돌려주는 것을 원칙으로 하는 회사입니다.</p>
								
								
							
								</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h3>업무흐름표</h3>
							</header>
							<p>Business chart</p>
							<img src="images/203.png" alt="" style="filter:invert()" width="230px" height="180px" />
							<ul class="actions">
								<li><a href="/woosinIntroduce2" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>등록증</h3>
							</header>
							<p>Registration</p>
							<img src="images/201.png" alt="" style="filter:invert()"  width="230px" height="180px" />
							<ul class="actions">
								<li><a href="/registrationWoosin" class="button alt">Learn More</a></li>
							</ul>
					
						</div>
						<div>
							<header>
								<h3>오시는길</h3>
							</header>
							<p>way to come</p>
							<img src="images/204.png" alt="" style="filter:invert()"  width="230px" height="180px" />
							<ul class="actions">
								<li><a href="/woosinIntroduce3" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Three 시공실적 리스트 페이징 기능 추가예정 -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/pic02.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Lorem ipsum dolor</h2>
										<p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
									</header>
									<hr />
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/pic03.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Vestibulum sit amet</h2>
										<p>mattis sapien pretium tellus venenatis</p>
									</header>
									<hr />
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

			<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<h2>시공사진리스트</h2>
						<p>사진</p>
						</header>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">문의하기</h2>
								<hr />
								<form action="#" method="post">
									<div class="field half first">
										<label for="name">Name</label>
										<input name="name" id="name" type="text" placeholder="Name">
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input name="email" id="email" type="email" placeholder="Email">
									</div>
									<div class="field">
										<label for="dept">Department</label>
										<div class="select-wrapper">
											<select name="dept" id="dept">
												<option value="">- Category -</option>
												<option value="1">Manufacturing</option>
												<option value="1">Shipping</option>
												<option value="1">Administration</option>
												<option value="1">Human Resources</option>
											</select>
										</div>
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
									</div>
									<ul class="actions align-center">
										<li><input value="Send Message" class="button special" type="submit"></li>
									</ul>
								</form>
							</div>
						</div>
					</section>	
				</div>
			</footer>

			
			<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<p style="font-size:17px">대표 : 유광열 | 사업자번호 : 246-81-00380<br>
						 주소 : 인천광역시 계양구 계양대로 138 4층(작전동)<br>
						Tel : 032) 549-2207/2208 | Fax : 032) 549-2209 	</p>						
						<div class="copyright">
						<p  style="font-size:17px">Copyright &copy; woosin<br>
						Web Agency: kuoo</p>
						</div>
					</header>
				</div>
			</section>
		<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
			

	</body>
</html>