<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
<head>
	<title>Generic - Transitive by TEMPLATED</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
 <style>
     p,h3,li,a{
       font-family: "Nanum Gothic", sans-serif;
       font-size: 23px;
     }

</style>
	<body class="subpage">
	
		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/index">우신종합건설</a></div>
				<a href="#menu" class="toggle"><span>Menu</span>MENU</a>
			</header>
	
		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index">Home</a></li>
					<li><a href="woosinIntroduce">회사소개</a></li>
					<li><a href="woosinCompuny">주요사업 내용</a></li>
					<li><a href="coperrationWoosin">주요실적</a></li>
					<li><a href="elements.html">공사이미지</a></li>
					<li><a href="registrationWoosin">인증/보유</a></li>
					<li><a href="Community">커뮤니티</a></li>
				</ul>
			</nav>
	<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h3>1:1 문의하기</h3>
							</header>
							
							<img src="images/1002.png" alt="" style="filter:invert()" width="230px" height="170px" />
							<ul class="actions">
								<li><a href="/Community" class="button alt">Inquiry</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>연혁/타임라인</h3>
							</header>
							
							<img src="images/1001.png" alt="" style="filter:invert()"  width="230px" height="170px" />
							<ul class="actions">
								<li><a href="/woosinIntroduce4" class="button alt">Time Line</a></li>
							</ul>
					
						</div>
						<div>
							<header>
								<h3>관급/민간 실적</h3>
							</header>
						
							<img src="images/1003.png" alt="" style="filter:invert()"  width="230px" height="170px" />
							<ul class="actions">
								<li><a href="/coperrationWoosin" class="button alt">Performance</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>	
	
		<!-- One -->
		<section id="one" class="wrapper style2">
			<div class="inner">
				<div class="box">
					<div class="image fit">
						<img src="images/1004.jpg" height="400px" alt="" />
					</div>
					<div class="card-body">
						<form class="form-signin" method="POST" onSubmit="logincall();return false" action="/login">
							<h5 class="form-signin-heading">로그인 정보를 입력하세요</h5>
							<label for="inputEmail" class="sr-only">Your ID</label> 
							<input type="text" id="id" class="form-control" placeholder="Your ID" name="id" required autofocus><BR> 
							<label for="inputPassword" class="sr-only">Password</label> 
							<input type="password" id="pw" class="form-control" placeholder="Password" name="pw" required><br>
							<div class="checkbox"></div>
							<button id="btn-Yes" class="btn btn-primary" type="submit">로 그 인</button>
						</form>
					</div>						
	
				</div>
			</div>
		</section>
	

			
			<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<p style="font-size:17px">대표 : 유광열 | 사업자번호 : 246-81-00380<br>
						주소 : 인천광역시 계양구 계양대로 138 4층(작전동)<br>
						Tel : 032) 549-2207/2208 | Fax : 032) 549-2209 	</p>						
						<div class="copyright">
						<p  style="font-size:17px">Copyright &copy; woosin<br>
						Web Agency: kuoo</p>
						</div>
					</header>
				</div>
			</section>
						
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	
	</body>
</html>