<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
<head>
	<title>Generic - Transitive by TEMPLATED</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
 <style>
     p,h3,li,a{
       font-family: "Nanum Gothic", sans-serif;
       font-size: 23px;
     }

</style>
	<body class="subpage">
	
		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/index">우신종합건설</a></div>
				
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>
	
		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index">Home</a></li>
					<li><a href="woosinIntroduce">회사소개</a></li>
					<li><a href="elements.html">인증/보유</a></li>
					<li><a href="elements.html">기술자현황</a></li>
					<li><a href="elements.html">주요실적</a></li>
					<li><a href="elements.html">커뮤니티</a></li>
				</ul>
			</nav>
		
	
		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="image fit">
							<img src="images/pic01.jpg" alt="" />
						</div>
						<div class="content">
							<header class="align-center">
								<h2>Lorem ipsum dolor</h2>
								<p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
							</header>
							<hr />
							<p> 동해물과 백두산이 Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
							<p>Vivamus fermentum nibh vel pharetra blandit. Cras a purus urna. Sed et libero ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse id hendrerit felis. Nulla viverra tempor dui at congue. Pellentesque quis nulla ornare, congue nisi id, finibus nulla. Aliquam sit amet hendrerit purus. Donec libero massa, posuere fermentum eros sit amet, maximus fringilla augue. Maecenas at rhoncus lorem. Vivamus ultricies consequat est, efficitur convallis libero. Vivamus rutrum semper mauris, vitae consequat eros tempor ac. Pellentesque et ornare sapien</p>
						</div>
					</div>
				</div>
			</section>
	
			
		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h3>업무흐름표</h3>
							</header>
							<p>Business chart</p>
							<img src="images/203.png" alt="" style="filter:invert()" width="230px" height="180px" />
							<ul class="actions">
								<li><a href="/woosinIntroduce2" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>등록증</h3>
							</header>
							<p>Registration</p>
							<img src="images/201.png" alt="" style="filter:invert()"  width="230px" height="180px" />
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						<div class="copyright">
						<p style="font-size:17px">Copyright &copy; woosin<br>
						Web Agency: kuoo</p>
						</div>
						</div>
						<div>
							<header>
								<h3>오시는길</h3>
							</header>
							<p>way to come</p>
							<img src="images/204.png" alt="" style="filter:invert()"  width="230px" height="180px" />
							<ul class="actions">
								<li><a href="/woosinIntroduce3" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
	
						
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	
	</body>
</html>